.schedule-header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin:15px 0px;
	> div{
		display:flex;
	    align-items: center;
	}
	.personal-info{
		width:155px;
		z-index:10;
		margin-right: 15px;
		.Select-control{
			background: none;
			border: 1px solid #ccc;
		}
	}
}
.schedule-switch{
	display:flex;
	margin:0px 10px 10px;
	> div{
	    border: 1px solid #ccc;
    	padding: 7px 15px;
    	&:hover{
    		cursor:pointer;
    		background: #35ABAB;
    		color:#ffffff;
    	}
	}
	.active{
		background: #35ABAB;
		color:#ffffff;
	}
}
.trainee-dashboard {
	> div{
		.column-view{
		    display: flex;
			flex-direction: column;
		}
		.row-view{
		    display: flex;
			flex-direction: row;
		}
	}
}
.rbc-slot-selection {
    width: 100%;
}