$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "fonts";
@import "fonts/font-awesome/scss/font-awesome";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';// Common
@import "colors";
@import "common";
@import "fonts/fonts";
// Main body styles
html {
}
body {
  margin: 0;
  font-family: "Comfortaa-Light";
}

// Components
@import "../src/components/home/style/main";
@import "../src/components/Login/style/main";
@import "../src/components/Trainee/style/main";
@import "../src/components/TrainingPackage/style/main";
@import "../src/components/Exercise/style/main";
.header{
	background:#96DFFA;
	padding:10px 20px;
	color: #4F4C4D;
	text-align: center;
  font-size:30px;
}
