
.trainee-dashboard {
	display: flex;
	flex-direction: colomn;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: flex-start;
	height: inherit;
	margin-top: 0px;
	> div{
		width:100%;
		> div{
		    margin-top: 0px;
		    padding:70px 0px 80px;
		    display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
	        justify-content: space-between;
	        margin-right: auto;
		    margin-left: auto;
		    padding-left: 15px;
		    padding-right: 15px;
		    width: 1200px;
	        border-top: 1px solid #35ABAB;
		    .list-general-wrapper{
		    	width: 600px;
		    }
		    @media only screen and (max-width: 1199px)  {
		    	width:100%;
		    	flex-direction: column;
		    }
		}
	}
	// > div:nth-child(1){
 //    	background:#FFFFFF;
 //    }
	// > div:nth-child(2){
 //    	background:#F5F5F5;
 //    }
 //    > div:nth-child(3){
 //    	background:#E1E1E1;
 //    }
 //    > div:nth-child(5){
 //    	background:#FFFFFF;
 //    }
    > div{
    	background:#FFFFFF;
	    // border-top: 1px solid #35ABAB;
    }
	.right-space{
	    	margin-right:50px;
	    }
	.dashboard-picklist{
		width: 180px;
	    border: 1px solid rgba(0, 0, 0, 0.3);
	    border-radius: 6px;
	        border: none;
    border-radius: 0px;
    border-bottom: 1px solid #35ABAB;
	}
	.dashboard-header{
        display: block;
	    width: fit-content;
	    font-size: 17px;
	    color: #3e3e3e;
	    font-weight: 700;
	    letter-spacing: 3px;
	    background-color: #fff;
	    position: relative;
	    padding: 0px 40px;
	    top: 35px;
	    border: none;
	    > div{
	    	padding: 20px 60px;
    		border: 1px solid #35ABAB;
	    }
	}
}
.custom-row{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	> div{
	    padding: 5px 12px;
	    width:150px;
	}
	.fa{
		&:hover{
			color:#fa7d6a;
			cursor:pointer;
		}
	}
	.fa-trash-o{
		&:hover{
			color:red;
			cursor:pointer;
		}	
	}
	.fa-save{
		&:hover{
			color:#3878D9;
			cursor:pointer;
		}		
	}
}
.form-modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
    h3{
    	text-align: center;
    }
    form{
    	position: fixed;
    	top: 20%;
    	left: 40%;
    	color: #ffffff;
    	.form{
    		background-color: #ffffff;
		    border-radius: 7px;
		    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
		    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    	}
    }
    .fa-trash-o{
    	left: 0px;
	    top: 3px;
	    position: absolute;
    }
}
.i-button{
	cursor: pointer;
    font-size: 25px;
}
 @media only screen and (max-width: 1199px)  {
 	.form-modal{
 		form {
		    top: 20%;
		    left: 0;
		    width: 100%;
		    .form{
		    	width:100%;
		    }
		}
 	}
 }
