// .training-package{
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: nowrap;
// 	justify-content: space-around;
// 	align-items: baseline;
// 	align-content: flex-start;
// }
.scheduled-exercise{
	.custom-row{
		> div{
			width: 70px;
		}
		div:nth-child(2){
			width: 200px;
		}
		// div:nth-child(3){
		// 	width: 60px;
		// }
		// div:nth-child(4){
		// 	width: 60px;
		// }
		// div:nth-child(5){
		// 	width: 60px;
		// }
		// div:nth-child(1){
		// 	width: 60px;
		// }
		// div:nth-child(2){
		// 	width: 125px;
		// }
	}
}
	