.scheduled-exercise-list{
	.custom-row{
		> div{
			width: 20px;
		}
		div:nth-child(2){
			width: 200px;
		}
		div:nth-child(3),div:nth-child(4),div:nth-child(5){
			width: 60px;
		}
	}
	.weekdays-wrapper{
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: start;
		align-items: center;
		align-content: center;
		box-shadow: 1px 1px 3px 1px #99DFF9;
		> div {
				> label{
		        background: #99DFF9;
				color: #ffffff;
				padding: 20px 60px;
				border: 2px solid #ffffff;
				text-align: center;
				cursor: pointer;
				margin-bottom: 0px;
			}
			> div{
				padding: 5px;
    			border-left: 1px solid #99DFF9;
    			min-height: 60px;
			}
			.active{
				background:red;
			}
		}
		input{
		    border: 0px;
		    border-bottom: 1px solid #e1e1e1;
		    border-radius: 0;
		}
	}
}
	