.scheduled-exercise-list{
	color: #35ABAB;
	> div{
		width:100%;
		>div{
			width:100%;
		}
	}
	.schedule-wrapper{
		overflow-x: scroll;
	}
	.program-header{
	    display: flex;
	    width: 100%;
	    align-items: center;
	    margin-top: 50px;
	    margin-bottom: 10px;
	    .dashboard-picklist{
			width: 150px;
		    border: 1px solid #35ABAB;
		    border-radius: 2px;
		}
		@media only screen and (max-width: 1199px)  {
			.dashboard-picklist{
	    		width:100%;
	    	}
	    }
	    i{
	    	margin-right:10px;
	    	color:#306A6A;
	    }
	}
	.session-program{
		display:flex;
		justify-content: space-between;
	    align-items: start;
	    @media only screen and (max-width: 1199px)  {
	    	flex-direction: column;
	    }
	}
	.custom-row{
		> div{
			width: 20px;
		}
		div:nth-child(2){
			width: 160px;
		}
		div:nth-child(3),div:nth-child(4),div:nth-child(5){
			width: 60px;
		}
	}
	.week-header{
		display:flex;
	    align-items: center;
	    justify-content: center;
	    margin-bottom: 10px;
        font-family: open-sans-bold;
    	color: #35ABAB;
	    > div{
		    // border: 1px solid #ccc;
	    	padding: 7px 15px;
		}
		.arrow-button{
			cursor: pointer;
		}
	}
	.weekdays-wrapper{
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: start;
		align-items: center;
		align-content: center;
		margin: 1px;
		box-shadow: 0px 0px 3px 0px #35ABAB;
		@media only screen and (max-width: 1199px)  {
			display:inline-flex;
		    margin-bottom: 1px;
		}
		> div{
		}
		span{
	    	color: #306A6A;
		}
		.weekday-session{
		    color: #31A2A2;
    		font-family: Open-Sans-Bold;
		}
		> div {
			> label{
		        background: #35ABAB;
				color: #ffffff;
				padding: 10px 50px;
				text-align: center;
				cursor: pointer;
				margin-bottom: 0px;
			}
			> div{
			    border-left: 1px solid #35ABAB;
				display: flex;
			    justify-content: center;
			    align-items: center;
			    min-height: 60px;
			    flex-direction: column;
			}
			.active{
				background:#306A6A;
			}
		}
		input{
		    border: 0px;
		    border-bottom: 1px solid #e1e1e1;
		    border-radius: 0;
		}
	}
}
	